include README.md
recursive-include fotochest/docs *
recursive-include fotochest/templates *
recursive-include fotochest/themes *
recursive-include fotochest/built_static *
recursive-include fotochest/static *
recursive-include fotochest/conf *
recursive-include fotochest/apps *