/* Black Theme */


body
{
    
    background:#000;
    color:#fff;
}

a:link,
a:visited,
a:active
{
   
    color:#fff;
}

a:hover
{
    color: #bbbbbb;
}


a.button
{
   
	background: #2aaee5;
    background: -webkit-gradient(linear, left top, left bottom, from(#2aaee5), to(#124D65));
    background: -moz-linear-gradient(top,  #2aaee5,  #124D65);
}

a.button:hover
{
    background: #124d65;
    background: -webkit-gradient(linear, left top, left bottom, from(#124d65), to(#2aaee5));
    background: -moz-linear-gradient(top,  #249BCB,  #2aaee5);
}

.photoContainer .photo h2
{
    color:#000;   
}

.photoContainer .photo.album h2
{
    color:#fff;   
}

.photoContainer .photo img.thumb
{
    background:#fff;
}

.profilePic
{
    background:#fff;
}

.photoPage .photo img
{
	background:#fff;
}

