/********************************************
 *
 *  Front End Common Styles
 *
 *
 *
 *
 *
 *
 *
 *
 *
 *
 */

body
{
    text-align:center;
    font-family: 'Josefin Sans Std Light', arial, serif;
}

#wrapper
{
    text-align:left;
    margin:0 auto;
    width:975px; /* Used to be 1020px */
    margin-top:20px;
    position:relative;
}

#wrapper .loginControls
{
    position: absolute;
    right:0;
    top:7px;
}

#wrapper a.signin
{
    text-decoration: none;
    

}

#wrapper a.signin:hover
{
    text-decoration: underline;
}

.left
{
    float:left;
}

.right
{
    float:right;
}

.clear
{
    clear:both;
}

a:link,
a:visited,
a:active
{
    text-decoration: none;
    
}

a:hover
{
    
}


/* End Globals */

/* Pagination Commons */

p.pagination
{
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
}

/* End Pagination */

/* Buttons */

a.button
{
    height:17px;
    display:inline-block;
    border-radius:2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    text-align:center;
    margin-top:10px;
    margin-bottom:10px;
    cursor:pointer;
    color: #000;
    background: -moz-linear-gradient(top, #fafafa, #f4f4f4);
    border-color: #e2e2e2 #e8e8e8 #e4e4e4 #dddddd;
}

a.button span
{
    margin-left:10px;
    
    display:block;
    color:#000;
}

a.button:hover
{
    
}

/* End Buttons */


img.thumb
{
    background: #fff;
    padding: 5px;
    margin-right: 3px;
}