/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Global Styles */

body
{
    
    background: #3A3A3A;
    color: #fff;
    font-family: Coda;
    text-align: center;
}

a
{
    color: #fff;
    text-decoration: none;
}

div#main
{
    text-align: left;
    margin: 0 auto;
    width: 90%;
    max-width: 1260px;
    margin-top: 24px;
}

div#main.map_page
{
    max-width: 3000px;
    width: 100%;
    margin: 0;
    margin-top: 2%;
    height: 100%;
}

header
{
    min-height: 100px;
}

header img
{
    border-radius: 5px;
    float: left;
   
}

header h1,
#logo_header h1
{
    font-size: 27px;
}

header h1
{
    margin-left: 10px;
}

header h1,
nav
{
    padding-left: 80px;
}

#logo_header h1.logo
{
    margin-bottom: 55px;
    padding-left: 8px;
    padding-top: 8px;
    display:inline-block;
}

#logo_header
{
    border-bottom: 1px solid #bbb;
    text-align: left;
    height: 70px;
    padding-top: 20px;
    background: #2D2D2D;
}

#logo_header_inner
{
    width: 90%;
    max-width: 1260px;
    margin: 0 auto;
}

#logo_header_inner img
{
    float: left;
}

nav
{
    
    margin-top: 33px;
}

nav a
{
    color: #fff;
}

nav ul li
{
    display: inline-block;
    margin-left: 8px;
}

nav#logo_nav
{
    
    display: inline-block;
    float: right;
    margin: 17px 127px 0 0;
}

nav#logo_nav ul li
{
    margin-right:14px;
}

nav#logo_nav ul li a
{
    font-size: 1.2em;
}


.photo
{
    
    
}

.photo img,
aside img
{
    background: #f5f5f5;
    padding: 2px;
    margin-right: 1.6%;
}


.photo.stream
{
    float: left;
    margin: 25px;
    text-align: center;
    width: 240px;
}

.photo.stream img
{
    margin-bottom: 6px;
    border-radius: 5px;
}


.photo.stream span
{
    color: #bbb;
    font-size: 11px;
}

aside
{
    width: 347px;
    float: right;
    background: #096F89;
    border-radius: 10px;
    /*color: #444;*/
    color: #fff;
    padding: 12px;
    font-size: 14px;
    margin-top: 37px;
}

aside p
{
    clear: left;
    margin-top: 10px;
    margin-bottom: 12px;
}
aside a
{
    color: #fff;
}

aside a:hover
{
    color:#aaaaaa;  
}

aside h3
{
    margin-bottom: 12px;
    font-size: 18px;
    border-bottom: 1px solid #bbb;
    padding-bottom: 2px;
}

aside h4
{
    margin-bottom: 8px;
    font-size: 15px;
}

aside span
{
    font-size: 12px;
    color: #aaa;
}

aside span a
{
    color: #aaa;
}

aside img#gravatar
{
    float:left;
    margin-bottom: 11px;
}

aside #small_map
{

    border-radius: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 200px;
    margin-top: 12px;
}




#map
{
    border-radius: 5px;
    height: 80%;
    width: 100%;
}

/* Login Styles */

form#login_form
{
    margin-top: 75px;
}

/* Form styles */

form label
{
    display: block;
    margin-top: 12px;
}

form input.text, form input.title, form input[type="email"], form input[type="text"], form input[type="password"] {
    width: 300px;
}
form input.text, form input.title, form input[type="email"], form input[type="text"], form input[type="password"], form textarea, form select {
    border: 1px solid #BBBBBB;
}
form input.text, form input.title, form input[type="email"], form input[type="text"], form input[type="password"] {
    background-color: white;
    margin: 0.5em 0;
    padding: 5px;
}


input {
    outline: medium none;
}


form input[type="submit"]
{
    display: block;
    margin-top: 10px;
}


.clear
{
    clear: both;
}

/* Main Image */

#photo_group
{
    clear: both;
    float:left;
}

.main_image
{
    max-width: 850px;
    max-height: 720px;
    
    
}


.other_photos
{
    margin-bottom: 14px;
}

.other_photos img
{
    margin-bottom: 8px;
}

.single_photo .button-group
{
    display: block;
    margin-bottom: 12px;
    clear:left;
    height: 25px;
}


/* Pagination */
.pagination
{
    margin-top:10px;
    margin-bottom:60px;
    clear:both;
    text-align: center;
}


.pagination .current
{
    font-weight: bold;
    
}

/* Make elements look like everything else when they aren't selected */




.title_controls input
{
    font-size: 15px;
    margin-right: 5px;
    margin-bottom: 8px;
    width: 173px;
}


.title_controls input.inactive
{
    background: #3A3A3A;
    color: #fff;
    border: none;
    margin-bottom: 0;
    width: auto;
}

.title_controls.single_photo input
{
    width: 279px;
    font-size: 17px;
}

.title_controls.single_photo .inactive
{
    background: #096F89;
    color: #fff;
}

.title_controls.single_photo .inactive:hover
{
    background: #096F69;
}
.title_control.inactive:hover
{
    background: #443D41;
}













