{% extends "smugmug/base.html" %}

{% block title %}{{ author.username }}'s Fotos{% endblock %}
{% block main_content %}

<div id="foto-stream">
    {% for album in albums %}
                <article class="foto">
                <a href="{{ album.get_absolute_url }}">
                    {% if album.album_cover %}
                        {% load thumbnail %}
                        {% thumbnail album.album_cover "240x161" as im %}
                        <img src="{{ im.url }}">
                        {% endthumbnail %}
                        
                    {% else %}
                        {% if album.get_album_cover %}
                            {% load thumbnail %}
                    {% thumbnail album.get_album_cover.image "240x161" as im %}
                <img src="{{ im.url }}">
                    {% endthumbnail %}
                        {% else %}
                        <img src="http://dummyimage.com/240x161">
                        {% endif %}
                {% endif %}
                
                <h3>{{ album.title }}</h3>
                </a>
                </article>
    {% endfor %}
            
            </div>
            
{% endblock %}