/* 
    Document   : flickr
    Created on : Nov 8, 2010, 1:01:21 PM
    Author     : derek
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/* Blue is #0063DC */

/* Flickr Theme */


body
{

    background:#fff;
    color:#0063dc;
}

a:link,
a:visited,
a:active
{

    color:#0063dc;
}

a:hover
{
    color: #0063dc;
}


a.button
{

	background: #2aaee5;
    background: -webkit-gradient(linear, left top, left bottom, from(#2aaee5), to(#124D65));
    background: -moz-linear-gradient(top,  #2aaee5,  #124D65);
}

a.button:hover
{
    background: #124d65;
    background: -webkit-gradient(linear, left top, left bottom, from(#124d65), to(#2aaee5));
    background: -moz-linear-gradient(top,  #249BCB,  #2aaee5);
}

.photoContainer .photo h2
{
    color:#000;
}

.photoContainer .photo.album h2
{
    color:#0063dc;
}

.photoContainer .photo img.thumb
{
    background:#000;
}

.profilePic
{
    background:#000;
}

.photoPage .photo img
{
	background:#000;
}



