{% extends "galleria/template.html" %}

<!-- Clear class is here add to photo -->
{% block main_content %}
{% for photo in photos %}
<div class="photo">
    <a href="{{ photo.get_absolute_url }}">
        {% load thumbnail %}
        {% thumbnail photo.image "275x275" as im %}
        <img src="{{ im.url }}" title="{{ photo.title }}" alt="{{ photo.title }}">
        {% endthumbnail %}
    </a>
    <p>{{ photo.title }}</p>
</div>
{% endfor %}
<div class="pagination">
    <p>Pagination Here</p>
</div>
{% endblock %}