<!DOCTYPE html>
<html>
	<head>
		
                <?php echo theme_css('styles'); ?>
                <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}themes/Galleria/css/styles.css">
                <script type="text/javascript" src="{{ STATIC_URL }}js/uploadify/jquery-1.4.2.min.js"></script>
                <?php echo js("lightbox/js/jquery.lightbox-0.5"); ?>
                <?php echo js("facebox/facebox"); ?>
		<link href='http://fonts.googleapis.com/css?family=Cuprum&subset=latin' rel='stylesheet' type='text/css'>
		<title>FotoChest</title>
	</head>
        <script src="{{ STATIC_URL }}fotochest.js"></script>
	<body>
		<div id="wrapper">
		<a class="logo" href="/">
		foto<span>chest</span>
		</a>
                {% block main_content %}{% endblock %}
                

                </div>
        </body>
</html>

