django==1.3.1
south
git+git://github.com/dstegelman/hadrian.git
PIL
sorl-thumbnail
django-celery
django-kombu
django-tastypie
django-sentry==1.12.1
django-grappelli
python-memcached
sphinx
git+git://github.com/dstegelman/django-interactive-api-docs.git
git+git://github.com/dstegelman/django-location.git