{% extends "photo_admin/base.html" %}
{% block extra_button_sidebar %}
<a class="button full clear" href="{% url photo_admin.views.upload album_slug=album_slug %}"><span>Add Fotos</span></a>

{% endblock %}
{% block main_content %}
<div class="content right" id="viewSingleAlbum">
<h2>{{ album.title }}</h2>

<h3>This album has no photos. Do you want to <a href="#">Add Some</a></h3>

{% for photo in photos %}
<div class="photo">
<a href="#link to thumb" class="preview" title="{{ album.description }}">
    {% load thumbnail %}
    {% thumbnail photo.image "75x75" crop="center" as im %}
<img src="{{ im.url }}" width="75">
    {% endthumbnail %}
</a>
<h3>{{ photo.title }}</h3>
<p>
{{ photo.description }}
</p>
<dl>
<dt>Album</dt>
<dd>{{ photo.album.title }}</dd>
</dl>
<ul class="actions">

<li><a href="#" class="button full"><span>Full Edit</span></a></li>
<li><a href="#" class="button full" rel="facebox"><span>Move</span></a></li>
<li><a href="#" class="button full" rel="facebox"><span>Delete</span></a></li>
</ul>
</div>
{% endfor %}


<div class="pagination">
Pagination
</div>
</div>
{% endblock %}