#wrapper .photoContainer .photo img.img2,
#wrapper .photoContainer .photo img.img1
{
    position:aboslute;
}

#wrapper .photoContainer .photo img.img1
{
    top:80px;
}

#wrapper .photoContainer .photo img.img2
{
    top:160px;
}