


/* Buttons */

.button
{
    height:17px;
    display:block;
    background: #2aaee5;
    background: -webkit-gradient(linear, left top, left bottom, from(#2aaee5), to(#124D65));
    background: -moz-linear-gradient(top,  #2aaee5,  #124D65);
    border-radius:3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:7px;
    padding-left:7px;
    width:auto;
    margin-bottom:10px;
    cursor:pointer;
}



a.button.nextAction
{
    background: -webkit-gradient(linear, left top, left bottom, from(#00ace7), to(#0f8fb8));
    background: -moz-linear-gradient(top, #00ace7, #0f8fb8);
}

a.button.small
{
    height:24px;
}

a.button.small span
{
    font-size:14pt;
}


/* New Buttons */

a.newButton {
    background:#105cbe;
    background:-moz-linear-gradient(center top , #2098e4, #105cbe);
    background:-webkit-gradient(linear, left top, left bottom, from(#2098e4), to(#105cbe));
    border:1px solid #0a3b7b;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    padding-left:15px;
    padding-top:7px;
    margin-left:-1px;
    -moz-box-shadow:0 0 1px #02c7fc inset,;
    -webkit-box-shadow:0 0 1px #02c7fc inset;
    box-shadow:0 0 1px #02c7fc inset;
    color:#efefef;
    font-weight:bold;
    text-shadow:0 -1px 0 #334671;
    cursor:pointer;
    font-weight:bold;
    font-family: "Helvetica Nueue", Helvetica, Arial, sans-serif;
    text-decoration:none;
    display: block;
    height: 18px;
    font-size:14px;
    margin-top: 7px;
    margin-bottom: 7px;
}



/*a.newButton span {font-size:18px;vertical-align:0;}*/
a.newButton span
{
    display:block;
}

.actions a.newButton span
{
    text-align:center;
}

a.newButton:link {
    background-color: gray;
}
a.newButton:hover {
    background: #1162ca;
    background: -moz-linear-gradient(center top , #22a1f1, #1162ca);
    background: -webkit-gradient(linear, left top, left bottom, from(#22a1f1), to(#1162ca));
}

a.newButton:active,
a.newButton:hover
{
    background: #42bb42;
    background: -moz-linear-gradient(center top, #42bb42, #2d782d);
    background: -webkit-gradient(linear, left top, left bottom, from(#42bb42), to(#2d782d));
}

a.newButton:visited {
    background-color: purple;
}

a.button.rotateClock,
a.button.rotateCounter
{
    background: url("../../images/admin/arrow_rotate_left.png") no-repeat left;
    width:140px;
    height:19px;
    padding: 4px 4px 5px 15px;
    background-color:#fff;
}

a.button.rotateCounter
{
    background: url("../../images/admin/arrow_rotate_right.png") no-repeat left;
    background-color: #fff;
}

a.button.rotateClock span,
a.button.rotateCounter span
{
    color:#000;
}

a.button.auto
{
    width:auto;
}

a.newButton.auto
{
    width: auto;
}

/* <!-- End Butons --> */

/* Notifications - different colors */

.notification
{
	display:block;
	-moz-border-radius:3px;
 -webkit-border-radius: 3px;
	margin-top:10px;
 margin-bottom:10px;
}

.notification.show
{
  display:block;
}

.notification.hide
{
  display:none;
}

.notification p
{
	color:#333333;
	line-height:16px;
	margin-bottom:7px;
	margin-left:35px;
	margin-right:25px;
	margin-top:8px;
}

.notification.error
{
	background:#F5DCDD;
	border:1px solid #EC9B9B;
}

.notification.success
{
	background:#ddf4ce;
	border:1px solid #726b67;
}

.notification.warning
{
	background:#f1eebf;
	border:1px solid #d3c200;
}

.notification.error p a
{
    color:#0f8fb8;
}

.notification.info
{
	background:#dce6f3;
	border:1px solid #50b0fc;
}

.notification.info p a
{
    color: #42bb42;
}
/* <!-- End Notification Styles --> */
