

/* <!-- Common Form Styles --> */

.form .formItem
{
    clear:both;
    margin-bottom:10px;
}

.form .formItem label
{
    display:block;
    color:#7A7A7A;
    font-weight:bold;
}

.form .formItem.check label
{
    display:inline-block;
}

.form .formItem input[type='text'],
.form .formItem input[type='email'],
.form .formItem input[type='password']
{
    font-size:14pt;
    margin: 5px 0px 5px 0;
    border:1px solid #AAAAAA;
    background:#F8F8F8;
    width:100%;
    -moz-border-radius:3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#fullEdit .form .formItem img.photo
{
    float:left;
}

#fullEdit .form .editControls
{
    float:left;
    margin: 30px 0px 0px 30px;
    
}

#fullEdit .editControls dt,
#fullEdit .editControls dd
{
    width:42%;
    display:inline-block;
}

/* <!-- End Form Styles --> */


.form .formItem img.photo
{
    padding:5px;
    background:#fff;
}

/* Edit Photo */

a.button.rotateClock,
a.button.rotateCounter
{
    background: url("../../images/admin/arrow_rotate_left.png") no-repeat left;
    width:140px;
    height:19px;
    padding: 4px 4px 5px 15px;
    background-color:#fff;
}

a.button.rotateCounter
{
    background: url("../../images/admin/arrow_rotate_right.png") no-repeat left;
    background-color: #fff;
}

a.button.rotateClock span,
a.button.rotateCounter span
{
    color:#000;
}

a.button.auto
{
    width:auto;
}

a.button.addNew
{

}

a.new {
    background:#105cbe;
    background:-moz-linear-gradient(center top , #2098e4, #105cbe);
    background:-webkit-gradient(linear, left top, left bottom, from(#2098e4), to(#105cbe));
    border:1px solid #0a3b7b;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    height:30px;
    padding:5px 15px;
    margin-left:-1px;
    -moz-box-shadow:0 0 1px #02c7fc inset,;
    -webkit-box-shadow:0 0 1px #02c7fc inset;
    box-shadow:0 0 1px #02c7fc inset;
    color:#efefef;
    font-weight:bold;
    text-shadow:0 -1px 0 #334671;
    cursor:pointer;
    font-weight:bold;
    font-family: "Helvetica Nueue", Helvetica, Arial, sans-serif;
    text-decoration:none;
    margin:10px;
    font-size:14px;
}
a.new span {font-size:18px;vertical-align:0;}

a.new:link {
    background-color: gray;
}
a.new:hover {
    background:#1162ca;
    background:-moz-linear-gradient(center top , #22a1f1, #1162ca);
    background:-webkit-gradient(linear, left top, left bottom, from(#22a1f1), to(#1162ca));
}
a.new:active {
    background:#105cbe;
    background:-moz-linear-gradient(center top , #105cbe, #2098e4);
    background:-webkit-gradient(linear, left top, left bottom, from(#105cbe), to(#2098e4));
}
a.new:visited {
    background-color: purple;
}