/*
 
 Modal only styles..
*/

/* Generic Modal Sytles */

.modal
{
  color:#000;
}


.modal #load
{
  text-align:center;
}

.modal #message
{
  display:block !important;
}

.modal a.button
{
  width:30%;
  display:inline-block;
  margin-top:15px;
}

/* End Common Modal Styles */

/* Specific Modal Styles */

/* Multi Upload Modal Styles */

.modal .multiUpload select
{
  display:block;
  margin-bottom:7px;
}

.modal .multiUpload .uploadifyQueue
{
  max-height:350px;
  overflow-y:scroll;  
}
/* End Multi Upload Modal Styles */


.addPhoto
{
  margin:0px 15px 0px 15px;
}

.addPhoto a.import
{
  width:180px;

  cursor:pointer;
}

.addPhoto select
{
  width:250px;
}

.addUser a.button
{
  width:175px;
}

/* <!-- Modal Styles for moving a photo --. */

.modal .album,
.modal .photo
{
    position:relative;
    margin-top:20px;
   
    padding-bottom:10px;
    border-bottom:1px solid #bbbbbb;
}

.album img,
.photo img
{
    background:#fff;
    padding:5px;
}

.album h3,
.photo h3
{
    position:absolute;
    top:0;
    left:96px;
}

.album p,
.photo p
{
    width:400px;
    top:16px;
    left:95px;
    position:absolute;
}

.album dl,
.photo dl
{
    width:160px;
    top:0;
    right:124px;
    position:absolute;

}

.album dl br,
.photo dl br
{
    margin-bottom:5px;
}

.album dt,
.photo dt
{
    font-weight:bold;
}



.album dt,
.album dd,
.photo dt,
.photo dd
{
    display:inline-block;
    width:50px;
}

.album dd,
.photo dd
{
    width:100px;
}

.album ul.actions,
.photo ul.actions
{
    position:absolute;
    right:0;
    top:0;
    width:110px;
    display:none;
}

.album:hover ul.actions,
.photo:hover ul.actions
{
    display:block;
}

.modal .album a.button
{
    margin:0;
    
}

.modal.viewPhoto a
{
    
    position:absolute;
    top:50%;
    cursor:pointer;
}

.modal.viewPhoto a.arrowLeft
{
    left:0;

}

.modal.viewPhoto a.arrowRight
{
    right:0;
}

.modal.viewPhoto img:hover a
{
    display:block;
}



.form .formItem label
{
    display:block;
    color:#7A7A7A;
    font-weight:bold;
}

.form .formItem input[type='text'],
.form .formItem input[type='email'],
.form .formItem input[type='password']
{
    font-size:14pt;
    margin: 5px 0px 5px 0;
    border:1px solid #AAAAAA;
    background:#F8F8F8;
    width:100%;
    -moz-border-radius:3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}



.notification
{
	display:block;
	-moz-border-radius:3px;
 -webkit-border-radius: 3px;
	margin-top:10px;
 margin-bottom:10px;
}

.notification.show
{
  display:block;
}

.notification.hide
{
  display:none;
}

.notification p
{
	color:#333333;
	line-height:16px;
	margin-bottom:7px;
	margin-left:35px;
	margin-right:25px;
	margin-top:8px;
}

.notification.error
{
	background:#F5DCDD;
	border:1px solid #EC9B9B;
}

.notification.success
{
	background:#ddf4ce;
	border:1px solid #726b67;
}

.notification.warning
{
	background:#f1eebf;
	border:1px solid #d3c200;
}

.notification.error p a
{
    color:#0f8fb8;
}

.notification.info
{
	background:#dce6f3;
	border:1px solid #50b0fc;
}




.modal a.button
{
    height:17px;
    display:block;
    background: #2aaee5;
    background: -webkit-gradient(linear, left top, left bottom, from(#2aaee5), to(#124D65));
    background: -moz-linear-gradient(top,  #2aaee5,  #124D65);
    border-radius:3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
    padding-right:7px;
    padding-left:7px;
    width:auto;
    margin-bottom:10px;
    cursor:pointer;
}

.modal a.button span
{


}


.modal a.button.nextAction
{
    background: -webkit-gradient(linear, left top, left bottom, from(#00ace7), to(#0f8fb8));
    background: -moz-linear-gradient(top, #00ace7, #0f8fb8);
}

a.button.small
{
    height:24px;
}

.modal a.button.small span
{
    font-size:14pt;
}


/* Edit Photo */

#editPhoto a.button.rotateClock
{
    background: url("../../images/admin/arrow_rotate_left.png");
}
