@import url("reset.css");

/* Controls */

a.button
{
	width: auto;
	display: inline-block;
	background: #ddd;
	-moz-border-radius: 3px;
	-moz-box-shadow: 2px 2px 6px;
}

a.button span
{
	display: block;
	margin: 5px;
}

a.logo
{
	background: url("../images/FotoChestLogoSmall.png") no-repeat left;
	height: 42px;
	display: block;
	padding-left: 46px;
	font-size: 24pt;
	color: #000;
	margin-bottom: 20px;
	padding-top: 20px;
	margin-left: 10px;
}

a.logo span
{
	color: #009ccd;
}

.pagination
{
	clear:both;
	text-align:center;
}

.pagination a
{
	color:#009ccd;
}

/* Global Styles */

body
{
	background: url("../images/body.jpg");
	text-align: center;
	font-family: Cuprum;
}

body.slideShow
{
	background: #000;
}

#wrapper
{
	width:970px;
	text-align: left;
	margin: 0 auto;
	margin-top: 40px;
}


/* Nav */

div.nav h1
{
	display:inline-block;
	margin-top: 33px;
	font-size: 19pt;
	margin-left: 8px;
	vertical-align: top;
	color: #999;
}


/* Photos */

#wrapper div.photo
{
	margin: 0 10px 20px 10px;
	float: left;
        width: 294px;
}

#wrapper div.photo img
{
    border: 1px solid rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 0 2px #fff;
    background: rgba(0, 0, 0, 0.09);
    -moz-border-radius: 3px;
    padding: 7px;
    opacity: 0.9;
    max-width: 274px;
    max-height: 177px;
}

#wrapper div.photo:hover img
{
	background: rgba(255, 255, 255, 0.35);
	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

div.photo p
{
	text-align: center;
}

/* Single Photo Page */

#wrapper div.photo.singlePhoto
{
	margin-left: 0;
        width: auto;
}

#wrapper div.photo.singlePhoto img
{
    max-width: 500px;
    max-height: 500px;
}


div.photoInfo
{
	float:left;
	width: 400px;
	margin-left: 25px;
}

div.photoInfo h2
{
	font-size: 18pt;
	margin-bottom: 15px;
	color: #999;
	text-shadow: 0 0 3px;
}

div.photoInfo p
{
	color: #000;
	font-size: 10pt;
	padding-bottom: 8px;
	line-height: 1.3;
}

div.photoInfo p:last-child
{
	border-bottom: 1px solid #ccc;
}


