<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="css/styles.css" type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Cuprum&subset=latin' rel='stylesheet' type='text/css'>
		<title>Galleria Theme</title>
	</head>
	<body>
		<div id="wrapper">
		<a class="logo" href="http://fotochest.com">
		foto<span>chest</span>
		</a>
		
			
			<div class="photo">
				<a href="viewPhoto.html">
					<img src="http://dummyimage.com/274X177">
				</a>
				<p>Album Name</p>
			</div>
			<div class="photo">
				<a href="viewPhoto.html">
					<img src="http://dummyimage.com/274X177">
				</a>
				<p>Album Name</p>
			</div>
			<div class="photo">
				<a href="viewPhoto.html">
					<img src="http://dummyimage.com/274X177">
				</a>
				<p>Album Name</p>
			</div>
			<div class="photo">
				<a href="/">
					<img src="http://dummyimage.com/274X177">
				</a>
				<p>Album Name</p>
			</div>
			<div class="photo">
				<a href="/">
					<img src="http://dummyimage.com/274X177">
				</a>
				<p>Album Name</p>
			</div>
			<div class="photo">
				<a href="/">
					<img src="http://dummyimage.com/274X177">
				</a>
				<p>Album Name</p>
			</div>
			<div class="photo">
				<a href="/">
					<img src="http://dummyimage.com/274X177">
				</a>
				<p>Album Name</p>
			</div>
			<div class="photo">
				<a href="/">
					<img src="http://dummyimage.com/274X177">
				</a>
				<p>Album Name</p>
			</div>
			<div class="photo">
				<a href="/">
					<img src="http://dummyimage.com/274X177">
				</a>
				<p>Album Name</p>
			</div>
			<div class="pagination">
				<strong>1</strong>
				<a href="/">2</a>
				<a href="/">3</a>
				<a href="/">Last ></a>
			</div>
		</div>
	</body>
</html>