{% extends "base.html" %}
{% block title %}Albums{% endblock %}

{% block extra_nav %}
    <li><a href="#" class="osx">Add Album</a></li>
{% endblock %}

{% block main_content %}
{% include "snippets/live_edit.js" %}
    {% for album in albums %}
                <article class="photo stream">
                <a href="{{ album.get_absolute_url }}">
                    {% if album.album_cover %}
                        {% load thumbnail %}
                        {% thumbnail album.album_cover "240x165" as im %}
                        <img src="{{ im.url }}">
                        {% endthumbnail %}
                        
                    {% else %}
                        {% if album.get_album_cover %}
                            {% load thumbnail %}
                    {% thumbnail album.get_album_cover.image "240x165" as im %}
                <img src="{{ im.url }}">
                    {% endthumbnail %}
                        {% else %}
                        <img src="http://dummyimage.com/240x161">
                        {% endif %}
                {% endif %}
                </a>
                <h3>
                    {% if request.user.is_authenticated and request.user == album.user %}
                    <div class="title_controls">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" class="csrf"> 
                    <input type="text" value="{{ album.title }}" class="title_control" title="Click to edit Photo Title">
                    <input type="hidden" value="{{ album.id }}" class="album_id">
                        <a href="#" class="positive button album">Save</a>
                    </div>
                    {% else %}
                        {{ photo.title }}
                        {% endif %}
                </h3>
                
                </article>
    {% endfor %}


<div class="pagination">
            {% if photos.has_previous %}
            <a href="?page={{ photos.previous_page_number }}">{{ photos.previous_page_number }}</a>
            {% endif %}
            {% if photos.number %}
            <span class="current">{{ photos.number }}</span>
            {% endif %}
            {% if photos.has_next %}
            <a href="?page={{ photos.next_page_number }}" class="inactive">{{ photos.next_page_number }}</a>
            {% endif %}
       </div>

{% if user.is_authenticated %}
            <!-- modal content -->
		<div id="osx-modal-content">
			<div id="osx-modal-title">FotoChest - Add Album</div>
			<div class="close"><a href="#" class="simplemodal-close">x</a></div>
			<div id="osx-modal-data">
                            <form method="POST" action=".">{% csrf_token %}
                            {{ album_form.non_field_errors }}
				{{ album_form.title.errors }}
                                <label for="title">Title:</label>
                                {{ album_form.title }}
                                {{ album_form.description.errors }}
                                <label for="description">Description:</label>
                                {{ album_form.description }}
                                <label for="parent_album">Parent Album:</label>
                                {{ album_form.parent_album.errors }}
                                <select id="id_parent_album" name="parent_album">
                                    
                                    <option selected="selected" value="">---------</option>
                                    {% for album in parent_albums %}
                                    <option value="{{ album.id }}">{{ album.title }}</option>
                                    {% endfor %}
                                </select>

                                <input type="submit" value="Add Album">
                            </form>
			</div>
		</div>
                
            {% endif %}
{% endblock %}