<!DOCTYPE html>
<html {% block extra_html %}{% endblock %}>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="stylesheet" href="{{ THEME_URL }}css/styles.css" type="text/css">
        <link rel="stylesheet" href="{{ STATIC_URL }}js/osx/css/osx.css" type="text/css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/github_buttons/gh-buttons.css" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Coda' rel='stylesheet' type='text/css'>
        <link href="{% url homepage_feed %}" rel="alternate" type="application/rss+xml" title="FotoStream Feed" />    
        <title>{% block title %}{% endblock %} | FotoChest</title>
        <meta name="description" content="Photo sharing">
        <meta name="keywords" content="Photos, fotochest, Photo sharing">
        <meta name="author" content="Nuts and Bolts Web Soultions">
        <meta name="copyright" content="2011">
        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <link rel="profile" href="http://microformats.org/profile/hcard">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/osx/js/jquery.simplemodal.js"></script>
        <script src="{{ STATIC_URL }}js/osx/js/osx.js"></script>
        {% block extra_head %}{% endblock %}
    </head>
    <body {% block extra_body %}{% endblock %}>
        <div id="logo_header">
            <div id="logo_header_inner">
            <img src="{{ STATIC_URL }}images/admin/FotoChestLogoSmall.png"><h1 class="logo"><a href="{% url photo_manager.views.homepage %}">FotoChest</a></h1>
                <nav id="logo_nav">
                    <ul>
                        <li><a href="{% if request.user.is_authenticated %}{% url photo_manager.views.homepage username=request.user.username %}{% else %}{% url photo_manager.views.homepage %}{% endif %}">Home</a></li>
                        <li><a href="{% url photo_manager.views.homepage %}">Explore</a></li>
                        <li><a href="{% url locations.views.locations %}">Map</a></li>
                        {% if user.is_authenticated %}
                            <li><a href="{% url django.contrib.auth.views.logout %}">Logout</a></li>
                        {% else %}
                        <li><a href="{% url django.contrib.auth.views.login %}">Login</a></li>
                        {% if ENABLE_REGISTRATION %}
                        <li><a href="{% url profiles.views.register %}">Register</a></li>
                        {% endif %}
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        <div id="main" class="{% block main_class %}{% endblock %}">
            {% block header %}
        <header>
            {% load travel_tags %}
            <img src="{% get_gravatar current_user.email 75 %}" width="75">
            <h1><a href="{% url photo_manager.views.homepage username=current_user.username %}">{{ current_user.first_name }} {{ current_user.last_name }}'s Photos</a></h1>
            <nav>
                <ul>
                    <li><a href="{% url photo_manager.views.homepage username=current_user.username %}">Photo Stream</a></li>
                    <li><a href="{% url photo_manager.views.albums username=current_user.username %}">Albums</a></li>
                    <li><a href="{% url locations.views.locations username=current_user.username %}">Map</a></li>
                    {% block extra_non_auth_nav %}{% endblock %}
                    {% if user.is_authenticated %}
                    {% block extra_nav %}{% endblock %}
                      <li><a href="{% url profiles.views.edit_profile %}">Edit Profile</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% endblock %}
        {% block main_content %}{% endblock %}
            
        </div>
    </body>

</html>