{% extends "base.html" %}
{% block title %}Photostream{% endblock %}
{% block extra_nav %}
    <li><a href="#" class="osx">Upload Photos</a></li>
    {% if location_view %}
        <li><a href="{% url location_slideshow location_slug=location_slug %}">Slideshow</a></li>
    {% endif %}
    {% if album_view %}
        <li><a href="{% url album_slideshow album_slug=album_slug %}">Slideshow</a></li>
    {% endif %}
    {% endblock %}

{% block main_content %}
{% for photo in photos.object_list %}
    <article class="photo stream{% if forloop.counter == 5 or forloop.counter == 9 or forloop.counter == 13 %} clear{% endif %}">
                <a href="{{ photo.get_absolute_url }}">
                    {% load thumbnail %}
                    {% thumbnail photo.image "240x165" as im %}
                    <img src="{{ im.url }}">
                        {% endthumbnail %}
                </a>
                <h3>{{ photo.title }}</h3>
                <span>Uploaded on <a href="#">{{ photo.date_uploaded }}</a></span>
            </article>
{% endfor %}
<div class="pagination">
            {% if photos.has_previous %}
            <a href="?page={{ photos.previous_page_number }}"><< Previous</a>    
            <a href="?page={{ photos.previous_page_number }}">{{ photos.previous_page_number }}</a>
            {% endif %}
            {% if photos.number %}
            <span class="current">{{ photos.number }}</span>
            {% endif %}
            {% if photos.has_next %}
            <a href="?page={{ photos.next_page_number }}" class="inactive">{{ photos.next_page_number }}</a>
            <a href="?page={{ photos.next_page_number }}">Next >></a>
            {% endif %}
       </div>
{% if user.is_authenticated %}
            <!-- modal content -->
		<div id="osx-modal-content">
			<div id="osx-modal-title">FotoChest - Upload Photos</div>
			<div class="close"><a href="#" class="simplemodal-close">x</a></div>
			<div id="osx-modal-data">
                            <form method="GET" action="{% url photo_manager.views.choose %}">
				<label>Album Name:</label>
                                <select name="album">
                                    {% for album in form_albums %}
                                    <option value="{{ album.slug }}">{{ album.title }}</option>
                                    
                                    {% endfor %}
                                </select>
                                <label>Location</label>
                                <select name="location">
                                    {% for location in form_locations %}
                                    <option value="{{ location.slug }}">{{ location }}</option>
                                    
                                    {% endfor %}
                                </select>
                                <input type="submit" value="Proceed to Upload Photos">
                            </form>
				<p><button class="simplemodal-close">Close</button> <span>(or press ESC or click the overlay)</span></p>
			</div>
		</div>
                
            {% endif %}
{% endblock %}