{% extends "base.html" %}
{% block extra_html %}style="height: 100%"{% endblock %}
{% block title %}Map{% endblock %}


{% block extra_head %}
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script>
  function initialize() {
    var blackStyles = [
{
featureType: 'all',
rules: [
{visibility: 'off'}
]
},
{
featureType: 'water',
rules: [
{visibility: 'on'},
{lightness: -100 }
]
}
];
    var blackMapType = new google.maps.StyledMapType(blackStyles,
    {name: "Black Map"});

  
  
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var myOptions = {
      //zoom: 2,
      //center: latlng,
      
      mapTypeId: google.maps.MapTypeId.ROADMAP,
       styles: blackStyles,    
    };
    var map = new google.maps.Map(document.getElementById("map"),
        myOptions);

      var bounds = new google.maps.LatLngBounds();


      {% for location in locations %}
      {% if location.photo_set.all %}
      
      var latlng{{ location.id }} = new google.maps.LatLng({{ location.latitude }}, {{ location.longitude }});
      var marker{{ location.id }} = new google.maps.Marker({
         position: latlng{{ location.id }},
         map: map,
         title: ""
      });

      var content{{ location.id }} = '<div id="content">'+
          
          
          '<p><a style="color:#2d2d2d;" href="{% if current_user %}{% url locations.views.location location_slug=location.slug username=current_user.username %}{% else %}{% url locations.views.location location_slug=location.slug %}{% endif %}">{{ location }} ({{ location.get_photo_count }})</a></p>' +
          
          '</div>';
      var infowindow{{ location.id }} = new google.maps.InfoWindow({
          content: content{{ location.id }}
      });
      google.maps.event.addListener(marker{{ location.id }}, 'click', function() {
         infowindow{{ location.id }}.open(map, marker{{ location.id }});
      });

      bounds.extend(latlng{{ location.id }})
      {% endif %}
      {% endfor %}

      map.fitBounds(bounds);    
      map.mapTypes.set('black_map', blackMapType);
      map.setMapTypeId('black_map');

  }
</script>

{% endblock %}
{% block header %}
    {% if user_page == '1' %}
        {{ block.super }}
    {% else %}
        
    {% endif %}
{% endblock %}
{% block extra_nav %}
    <li><a href="#" class="osx">Add Location</a></li>
{% endblock %}

{% block extra_body %}onLoad="initialize()" style="height:100%"{% endblock %}
{% block main_class %}map_page{% endblock %}
{% block main_content %}
<div id="map">
        
        </div>
{% if user.is_authenticated %}
            <!-- modal content -->
		<div id="osx-modal-content">
			<div id="osx-modal-title">FotoChest - Add Photo Location</div>
			<div class="close"><a href="#" class="simplemodal-close">x</a></div>
			<div id="osx-modal-data">
				<form method="POST" action=".">{% csrf_token %}
                                {{ location.non_field_errors }}
                                    {{ location_form.as_p }}
                                <input type="submit" value="Add Location">
                                </form>
				<p><button class="simplemodal-close">Close</button> <span>(or press ESC or click the overlay)</span></p>
			</div>
		</div>
                
            {% endif %}
{% endblock %}