
{% extends "base.html" %}
{% block title %}{{ photo.title }}{% endblock %}
{% block extra_head %}
<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script>
  function initialize() {
    var blackStyles = [
{
featureType: 'all',
rules: [
{visibility: 'off'}
]
},
{
featureType: 'water',
rules: [
{visibility: 'on'},
{lightness: -100 }
]
}
];
    var blackMapType = new google.maps.StyledMapType(blackStyles,
    {name: "Black Map"});

  
  
    var latlng = new google.maps.LatLng({{ photo.location.latitude }},{{ photo.location.longitude }} );
    var myOptions = {
      zoom: 8,
      center: latlng,
      
      mapTypeId: google.maps.MapTypeId.ROADMAP,
       styles: blackStyles,    
    };
    var map = new google.maps.Map(document.getElementById("small_map"),
        myOptions);

      //var bounds = new google.maps.LatLngBounds();

      
      var latlng{{ photo.id }} = new google.maps.LatLng({{ photo.location.latitude }}, {{ photo.location.longitude }});
      var marker{{ photo.id }} = new google.maps.Marker({
         position: latlng{{ photo.id }},
         map: map,
         title: "{{ photo.title }}"
      });

      var content{{ photo.id }} = '<div id="content">'+
          
          
          '<p>{{ photo.title }}</p>' +
          
          '</div>';
      var infowindow{{ photo.id }} = new google.maps.InfoWindow({
          content: content{{ photo.id }}
      });
      google.maps.event.addListener(marker{{ photo.id }}, 'click', function() {
         infowindow{{ photo.id }}.open(map, marker{{ photo.id }});
      });

      //bounds.extend(latlng{{ photo.id }})
 

      //map.fitBounds(bounds);    
      map.mapTypes.set('black_map', blackMapType);
      map.setMapTypeId('black_map');

  }
</script>
{% include "snippets/live_edit.js" %}

{% endblock %}
{% block extra_body %}onLoad="initialize()"{% endblock %}
{% block header %}{% endblock %}
{% block main_content %}
{% load thumbnail %}
{% thumbnail photo.image "1024x768" as im %}
<img src="{{ im.url }}" class="main_image">
{% endthumbnail %}

            <aside>
                    <h3>
                {% if request.user.is_authenticated and request.user == photo.user %}
                    <div class="title_controls single_photo">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" class="csrf">    
                    <input type="text" value="{{ photo.title }}" class="title_control" title="Click to edit Photo Title">
                    <input type="hidden" value="{{ photo.id }}" class="photo_id">
                        <a href="#" class="positive button photo">Save</a>
                    </div>
                    {% else %}
                    {{ photo.title }}
                        {% endif %}
                    </h3>
                {% load travel_tags %}
                <img src="{% get_gravatar current_user.email 25 %}" width="25" id="gravatar">By <a href="{% url photo_manager.views.homepage username=current_user.username %}">{{ current_user.first_name }} {{ current_user.last_name }}</a>
                <br/>
                <span>From <a href="{{ photo.album.get_absolute_url }}">{{ photo.album }}</a></span>
                
                <p>This photo was uploaded on {{ photo.date_uploaded|date:"F j Y" }}, and taken in {{ photo.location }}.</p>
                <div id="small_map"></div>
                {% if photo.description %}
                <p>{{ photo.description }}</p>    
                {% endif %}
                <h4>Other photos from {{ photo.location }}</h4>
                <div class="location_photos">
                    {% for photo in photos_from_this_location %}
                    {% load thumbnail %}
                    {% thumbnail photo.image "75x75" crop="center" as im %}
                    <a href="{{ photo.get_absolute_url }}"><img src="{{ im.url }}"></a>
                    {% endthumbnail %}
                    {% endfor %}
                </div>
                
            </aside>
            <div class="photo_nav">
                <a href="{{ photo.get_fullscreen }}" class="button">Fullscreen</a>
        <h3>More from <a href="{{ photo.album.get_absolute_url }}">{{ photo.album }}</a></h3>
        
        {% for img in nav_photos.object_list %}
                {% load thumbnail %}
                {% thumbnail img.image "150x150" crop="center" as im %}
                <a href="{{ img.get_absolute_url }}"><img src="{{ im.url }}"></a>
                {% endthumbnail %}
            {% endfor %}
            <div class="pagination">
            {% if nav_photos.has_previous %}
            <a href="?page={{ nav_photos.previous_page_number }}"><< Previous</a>
            <a href="?page={{ nav_photos.previous_page_number }}">{{ nav_photos.previous_page_number }}</a>
            {% endif %}
            {% if nav_photos.number %}
            <span class="current">{{ nav_photos.number }}</span>
            {% endif %}
            {% if nav_photos.has_next %}
            <a href="?page={{ nav_photos.next_page_number }}" class="inactive">{{ nav_photos.next_page_number }}</a>
            <a href="?page={{ nav_photos.next_page_number }}" class="inactive">Next >></a>
        {% endif %}
        
       </div>
        </div>
{% endblock %}