<article class="photo stream{% if forloop.counter == 5 or forloop.counter == 9 or forloop.counter == 13 %} clear{% endif %}">
                <a href="{{ photo.get_absolute_url }}" title="{{ photo.title }} taken in {{ photo.location }}">
                    {% load thumbnail %}
                    {% thumbnail photo.image "240x165" as im %}
                    <img src="{{ im.url }}">
                        {% endthumbnail %}
                </a>
                <h3>{{ photo.title }}</h3>
                <span>Uploaded on <a href="#">{{ photo.date_uploaded|date:"F j Y" }}</a> by <a href="{% url photo_manager.views.homepage username=photo.user.username %}">{{ photo.user.username }}</a></span>
            </article>