<article class="photo stream{% if forloop.counter == 5 or forloop.counter == 9 or forloop.counter == 13 %} clear{% endif %}">
                <a href="{{ photo.get_absolute_url }}" title="{{ photo.title }} taken in {{ photo.location }}">
                    {% load thumbnail %}
                    {% thumbnail photo.image "240x165" as im %}
                    <img src="{{ im.url }}">
                        {% endthumbnail %}
                </a>
                
                <h3>
                    {% if request.user.is_authenticated and request.user == photo.user %}
                    <div class="title_controls">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" class="csrf"> 
                    <input type="text" value="{{ photo.title }}" class="title_control" title="Click to edit Photo Title">
                    <input type="hidden" value="{{ photo.id }}" class="photo_id">
                        <a href="#" class="positive button photo">Save</a>
                    </div>
                    {% else %}
                        {{ photo.title }}
                        {% endif %}
                </h3>
                <span>Uploaded on <a href="#">{{ photo.date_uploaded|date:"F j Y" }}</a> by <a href="{% url photo_manager.views.homepage username=photo.user.username %}">{{ photo.user.username }}</a></span>
            </article>
